/* Whole header */
.header {
    color: #FFFFFF;
    background-image: linear-gradient(to right, #156573 , #1D95BA);
    padding: 10px;

    height: 70px;
    width: 100%;

    top: 0;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* Clickables: title and stories */
.clickable {
    display: flex;
    justify-content: space-between;
}
/* Title */
h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
/* Stories nav */
nav ul {
    display: flex;
    justify-content: space-around;
}
nav li {
    display: block;
    text-decoration: none;
   }
p, li {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
