.content {
  display: flex;
  justify-content: space-around;
  margin: 50px;
}

.content--background {
  background-color: white;
  border: 1px black solid;
  box-shadow: 15px 15px #ECFEAA, 15px 15px 0 1px black;
}

.content_story {
  width: 75%;
}

.content_story--padding {
  padding: 20px;
}

textarea {
  height: 50vh;
  border: 0;
  resize: none;
  padding: 20px;
}

textarea:focus {
  outline: none;
}

.content_buttons {
  display: flex;
  justify-content: space-between;
}

.content_button--border {
  background-color: #F7EBEC;
  border: 1px black solid;
  width: 80px;
  padding: 10px;
}

.content_button--border:hover {
  background-color: #DBCBD8;
}