/* Content layout for the home page */
.home--flexbox {
  height: inherit;
  display: flex;
  justify-content: center;
}

/* Content layout for the story pages */
.content--flexbox {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  margin-bottom: 50px;
}

/* Story area width */
.content--flexbox__story { width: 75% }

/* Content decoration */
.content--background {
  background-color: white;
  border: 1px black solid;
  box-shadow: 15px 15px #ECFEAA, 15px 15px 0 1px black;
}

/* Story area padding */
.content--background__padding { padding: 20px }

/* Adjectives form layout */
textarea {
  height: 50vh;
  border: 0;
  resize: none;
  padding: 20px;
}

textarea:focus { outline: none }

/* Story reset button top margin */
.content--button__margin {
  margin-top: 35px;
}

/* Adjectives form buttons layout */
.content--form-buttons {
  display: flex;
  justify-content: space-between;
}

/* Buttons decorations */
.content--button__border {
  background-color: #F7EBEC;
  border: 1px black solid;
  width: 80px;
  padding: 10px;
}

.content--button__border:hover { background-color: #DBCBD8 }
