.navbar--flexbox {
  padding: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
}

.navbar--gradient {
  background: 
    linear-gradient(#64717C, transparent),
    linear-gradient(to top left, #D5B9BD, transparent),
    linear-gradient(to top right, #D5CCEE, transparent);
  background-blend-mode: screen;
}

.links--flexbox {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.link--decoration {
  text-decoration: none;
}

.link--decoration__black {
  color: #12130F;
  font-size: 2em;
}

.link--decoration__gray {
  color: #333333;
  margin: 2em;
}

.link--decoration__black:hover {
  text-decoration: underline;
}

li {
  list-style-type: none;
}