html, body { height: 100vh; } 

/* Basic page details */
body {
  background-color: #ECE4B7;
  margin: 0;
  color: #12130F;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.2;
}

/* Basic page layout */
#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
